body {
background-color :black;
}
header {
width: 1200px; 
height: 400px;  
background-size: 1200px;
margin-left: 100px;
}
#navigation li a {
    display: inline-block;
    background: 
  #e39158 url(lienCoulissant.png) left top no-repeat;
    color: #2f8f98; font-family: cabin; font-weight: bold; font-size: 60px; margin-left: 30px; 
    font: 2em "cabin";
    line-height: 2em;
    padding: 3px 0;
    text-align: center;
  }	
  #navigation li {
    background-color: #e39158;
    display: inline-block;
    width: 24%;
    text-align: center;
  }
  #navigation li a:hover, #navigation li a:focus, #navigation li a:active {
    background: 
  #fff url(lienCoulissant.png) right top no-repeat ;
  }

h1 {
color: #2F8F98; font-family: cabin; font-weight: bold; font-size: 60px; margin-left: 30px;    
}
.h1-footer-SN {
color: #2F8F98; font-family: cabin; font-weight: bold; font-size: 52px; text-align: center;
}
h2{
color: #2F8F98; font-family : cabin; font-weight: bold; text-transform: capitalize; text-decoration: underline;
}
h3{
color: #2F8F98; font-family : cabin; font-weight: bold; text-transform: capitalize; text-decoration: underline;
}
h4 {
color: #2F8F98; font-family : cabin; font-weight: bold; text-transform: capitalize; text-decoration: underline;
}
h5 {
color: #2F8F98; font-family : cabin; font-weight: bold; text-transform: capitalize; text-decoration: underline;
}
h6 {
color: #2F8F98; font-family : cabin; font-weight: bold; text-transform: capitalize; text-decoration: underline;
}
a {
color: #2F8F98; font-family: cabin; font-weight: bold; text-decoration: none; font-size: 30px; margin-left: 50px; text-align: center;
}
p {
color: #2F8F98; font-family: cabin; font-size: 24px; margin-left: 10px;    
}
.h4texte {color: white; font-family : cabin; font-weight: bold;
}
a[href^="mailto"]::before {
    content: "📧 ";
}
.Formulairecolor {
    color: #2F8F98; font: cabin; font-weight: bold; text-transform: capitalize;
    }
    table{
        border: medium solid white;
        border-collapse: collapse;
        width: 100%;
        }
        
        tr {
        border: medium solid #e39259;
        width: 50%;
        padding: 50px;
        background-color: black;
        font-family: cabin
        color= #2F8F98;
        font-weight:bold;
        }
        
        td {
        border: medium solid #e39259;
        width: 5%;
        padding: 50;
        text-decoration-color: #2F8F98;
        font-family: cabin
        text-align: center;
        color: black;
        }
        
        th {
        border: medium solid #e39259;
        width: 5%;
        padding: 60;
        text-align: center;
        color: #2F8F98;
        font-family: cabin
        background-color= black;
        font-size: 36px;
        }
        
        .table{
        border: medium solid white;
        border-collapse: collapse;
        width: 100%;
        margin-left:80px;
        }
        
        .th {
        border: medium solid white;
        width: 20%;
        padding: 60;
        text-align: center;
        background-color:#e39259;
        font-family: cabin
        font-size: 36px;
        }
        
        .td { 
        border: medium solid #e39259;
        width: 5%;
        padding: 50;
        text-align: center;
        background-color: white;
        font-family: cabin
        font-weight: bold;
        font-size:25px; 
        }
        
        .td1 { 
        border: medium solid #e39259;
        width: 5%;
        padding: 50;
        text-align: center;
        font-family: cabin
        background-color= white;
    }
    .H1table{
        color: #2F8F98; font-family: cabin; font-weight: bold; font-size: 40px; text-align: center;
        }