body {
background-color :black;
}
header {
width: 1200px; 
height: 400px;  
background-image:url(../Images/Img_New-York.jpg);
background-size: 1200px;
margin-left: 100px;
}
nav {
width: 1200px; 
height: 150px;  
background-color : black;
font-family: cabin;
font-weight: bold;
font-size: 40px;
color: #2F8F98;
margin-left: 100px;
}
#BLOCKNAV1 {
width: 1150px;
height: 100px;
background-color: black;
margin-left: 25px;
padding-top: 25px;
text-decoration: {
color: #2F8F98; font-family : cabin; font-size : 10px; margin-left : 10px;    
}   
}
#BLOCKHEAD1 {
width: 700px;
height: 400px;
background-color:black;
margin-left: 100px;
}
#BLOCKHEAD1-1 {
width: 650px;
height: 350px;
background-color:black;
margin-left: 25px;
padding-top: 25px;
}
#BLOCKHEAD2 {
width : 500px;
height : 400px;
background-image : url(../Images/Img_beauty.jpg);
background-size : cover;
margin-left: 800px;
margin-top: -400px;
}
#BLOCKHEAD3 {
width: 1000px;
height: 400px;
background-image: url(../Images/Img_girl-portrait.jpg);
background-size: 1000px;
margin-left: 200px;
}
#BLOCKHEAD4 {
width: 1000px;
height: 100px;
background-color:#e39259;
margin-left: 100px;
}
#BLOCKHEAD4-1 {
width: 1150px;
height: 100px;
background-color:black;
margin-left: 25px;
padding-top: 25px;
}
footer {
width: 1200px; 
height: 300px;  
background-color :black;
margin-left: 100px;
}
#BLOCKFOOTER1 {
width: 1200px;
height: 50px;
background-color: black;
padding-top: 25px;
text-decoration: {
color:#2F8F98; font-family : cabin; font-size : 10px; margin-left : 10px;
}
}
#BLOCKFOOTER2 {
width: 600px;
height: 50px;
background-color: black;
padding-top: 25px;
text-align: center;
text-decoration: {
color:#2F8F98; font-family : cabin; font-size : 10px; margin-left : 10px;
}
} 
#BLOCKFOOTER3 {
width: 600px;
height: 50px;
background-color: black;
padding-top: 25px;
margin-left: 600px;
margin-top: -75px;
text-align: center;
text-decoration: {
color:#2F8F98; font-family : cabin; font-size : 10px; margin-left : 10px;
}
} 
#SUIVEZ-NOUS{
width: 200px;
height: 50px;
background-color:black;
margin-left: 500px;
text-align: center;
}
#RS1 {
width: 50px;
height: 50px;
background-image: url(../Images/ImageFB.png);
background-size: 50px;
margin-left: 500px;

}
#RS2 {
width: 50px;
height: 50px;
background-image: url(../Images/ImageTwit.png);
background-size: 50px;
margin-left: 550px;
margin-top: -50px;
}
#RS3 {
width: 50px;
height: 50px;
background-image: url(../Images/ImageInsta.png);
background-size: 50px;
margin-left: 600px;
margin-top: -50px;
}
#RS4 {
width: 50px;
height: 50px;
background-image: url(../Images/ImageYT.png);
background-size: 50px;
margin-left: 650px;
margin-top: -50px;
}
h1 {
color: #2F8F98; font-family: cabin; font-weight: bold; font-size: 12px; margin-left: 30px;    
}
.h1-footer-SN {
color: #2F8F98; font-family: cabin; font-weight: bold; font-size: 26px; text-align: center;
}
a {
color: #2F8F98; font-family: cabin; font-weight: bold; text-decoration: none; font-size: 30px; margin-left: 50px; text-align: center;
}
p {
color: #2F8F98; font-family: cabin; font-size: 11px; margin-left: 10px;    
}