body {
background-color :black;
}
header {
width: 1200px; 
height: 400px;  
background-image:url(../Images/Ludovic-LALLEMAND_logo-banner_2021.jpg);
background-size: 1200px;
margin-left: 100px;
}
h1 {
color: #2F8F98; font-family: cabin; font-weight: bold; font-size: 60px; margin-left: 30px;    
}
.h1-footer-SN {
color: #2F8F98; font-family: cabin; font-weight: bold; font-size: 52px; text-align: center;
}
a {
color: #2F8F98; font-family: cabin; font-weight: bold; text-decoration: none; font-size: 30px; margin-left: 50px; text-align: center;
}
p {
color: #2F8F98; font-family: cabin; font-size: 24px; margin-left: 10px;    
}